{% extends "inventory_management/base_site.html" %}

{% block document-title %}Locations{% endblock %}
{% block page-title %}Locations{% endblock %}

{% block main %}
    <section class="main-section">
        <form action="{% url "locations" %}" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="did-floating-label-content">
                    {{ field }}
                    <label class="did-floating-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                </div>
            {% endfor %}

            <input class="add" type="submit" value="Add">
        </form>

    </section>

    {% for message in messages %}
        <p class="error-p">
            <strong>{{ message }}</strong>
        </p>
    {% endfor %}


    <hr>

    <table>
        <thead>
        <tr>
            <th>
                Location ID
            </th>
        </tr>
        </thead>

        <tbody>
        {% for location in locations_list %}
            <tr>
                <td>
                    {{ location.location_id }}
                </td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

{% endblock %}

