{% extends "inventory_management/base_site.html" %}
{% load static %}

{% block document-title %}Locations{% endblock %}
{% block page-title %}Locations{% endblock %}

{% block main %}
    <section class="main-section">
        <form action="{% url "locations" %}" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="did-floating-label-content">
                    {{ field }}
                    <label class="did-floating-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                </div>
            {% endfor %}

            <input class="button" type="submit" value="Add">
        </form>

    </section>

    {% for message in messages %}
        <p class="error-p">
            <strong>{{ message }}</strong>
        </p>
    {% endfor %}


    <hr>

    <section>
        <h2 class="elements-title">Locations</h2>

        <section class="elements-grid">
            {% for location in locations_list %}
                <a class="element" onclick="showOrRemoveForm('{{ location.location_id }}')">
                    <i class='bx bx-location-plus'></i>
                    <p id="{{ location.location_id }}-label"
                       style="display: block">{{ location.location_id }}</p>


                    <form id="{{ location.location_id }}" method="post"
                          action="{% url 'edit_location' location_id=location.location_id %}"
                          style="display: none">
                        {% csrf_token %}
                        <div class="did-floating-label-content">
                            <input class="did-floating-input" type="text" name="location_id"
                                   value="{{ location.location_id }}" style="font-size: 14px" required>
                        </div>

                        <input type="submit" class="button" value="Save">
                    </form>

                </a>
            {% endfor %}

        </section>
    </section>

{% endblock %}

