{% extends "inventory_management/base_site.html" %}

{% block document-title %}Products{% endblock %}
{% block page-title %}Products{% endblock %}

{% block main %}
    <section class="main-section">
        <form method="post" action="{% url 'products' %}">
            {% csrf_token %}


            {% for field in form %}
                <div class="did-floating-label-content">
                    {{ field }}
                    <label class="did-floating-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                </div>
            {% endfor %}

            <input class="button" type="submit" value="Add">
        </form>
    </section>

    {% for message in messages %}
        <p class="error-p">
            <strong>{{ message }}</strong>
        </p>
    {% endfor %}


    <hr>

    <section>
        <h2 class="elements-title">Products</h2>

        <section class="elements-grid">
            {% for product in products_list %}
                <a class="element" onclick="showOrRemoveForm('{{ product.product_id }}')">
                    <i class='bx bx-box'></i>
                    <p id="{{ product.product_id }}-label"
                       style="display: block">{{ product.product_id }}</p>


                    <form id="{{ product.product_id }}" method="post"
                          action="{% url 'edit_product' product_id=product.product_id %}"
                          style="display: none">
                        {% csrf_token %}
                        <div class="did-floating-label-content">
                            <input class="did-floating-input" type="text" name="product_id"
                                   value="{{ product.product_id }}" style="font-size: 14px" required>
                        </div>

                        <input type="submit" class="button" value="Save">
                    </form>
                </a>


            {% endfor %}

        </section>
    </section>


{% endblock %}

