{% extends "inventory_management/base_site.html" %}

{% block document-title %}Dashboard{% endblock %}
{% block page-title %}Dashboard{% endblock %}


{% block main %}
    <section class="main-section">
        <section>
            <h2 class="elements-title">Product Movements</h2>

            <table class="my-table">
                <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Location</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for product, product_record in products_balance.items %}
                    {% for location, value in product_record.items %}
                        <tr>
                            <td>{{ product }}</td>
                            {% if location == "None" %}
                                <td>SOLD ITEMS</td>
                            {% else %}
                                <td>{{ location }}</td>
                            {% endif %}
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>

            </table>
        </section>
    </section>

{% endblock %}