{% load static %}

<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" type="text/css" href="../../inventory_management/static/style.css"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/website_icon.png' %}">
    <title>{% block document-title %}{% endblock %}</title>
</head>
<body>
<div class="sidebar">
    <div class="logo-details">
        <i class='icon'
           style="background: url({% static 'icons/inventory.png' %}) no-repeat center;background-size: 40px"></i>
        <div class="logo_name">Inventory</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="{% url 'index' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="{% url 'products' %}">
                <i class='bx bx-box'></i>
                <span class="links_name">Product</span>
            </a>
            <span class="tooltip">Product</span>
        </li>
        <li>
            <a href="{% url 'locations' %}">
                <i class='bx bx-location-plus'></i>
                <span class="links_name">Location</span>
            </a>
            <span class="tooltip">Location</span>
        </li>
        <li>
            <a href="{% url 'product_movement' %}">
                <i class='bx bx-move'></i>
                <span class="links_name">Product Movement</span>
            </a>
            <span class="tooltip">Product Movement</span>
        </li>
    </ul>
</div>
<main class="home-section">
    <h1 class="page-title">{% block page-title %}{% endblock %}</h1>
    {% block main %}{% endblock %}
</main>
<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");

    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
        } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
        }
    }

    function showOrRemoveForm(form_id) {
        let form = document.getElementById(form_id.trim());
        let label = document.getElementById(form_id.trim() + "-label");
        const input = form.querySelector(".did-floating-input")

        if (form.style.display === "none") {
            form.style.display = "block";
            label.style.display = "none";
        } else if (!input.matches(':hover')) {
            form.style.display = "none";
            label.style.display = "block";
        }
    }
</script>
</body>
</html>