{% extends "inventory_management/base_site.html" %}

{% block document-title %}Product Movement{% endblock %}
{% block page-title %}Product Movements{% endblock %}

{% block main %}
    <section class="main-section">
        <form action="{% url "product_movement" %}" method="post" id="add_product_movement_form">
            {% csrf_token %}

            {% for field in form %}
                <div class="did-floating-label-content">
                    {{ field }}
                    <label class="did-floating-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                </div>
            {% endfor %}

            <button type="button" class="button" onclick="function validate_locations() {
                let from_location = document.getElementById('form_location');
                let to_location = document.getElementById('to_location');

                if(from_location.value==='' && to_location.value==='')
                    window.alert('You must select one of from location or to location');
                else
                    document.getElementById('add_product_movement_form').submit();
            }
            validate_locations()">Add
            </button>
        </form>

    </section>

    {% for message in messages %}
        <p class="error-p">
            <strong>{{ message }}</strong>
        </p>
    {% endfor %}


    <hr>

    <section>
        <h2 class="elements-title">Product Movements</h2>

        <table class="my-table" >
            <thead>
            <tr>
                <th>Product ID</th>
                <th>From Location</th>
                <th>To Location</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for product_movement in product_movements %}
                <tr>
                    <td>{{ product_movement.product_id }}</td>
                    <td>{{ product_movement.from_location }}
                    </td>
                    <td>{{ product_movement.to_location }}</td>
                    <td>{{ product_movement.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </section>

{% endblock %}