{% extends "inventory_management/base_site.html" %}

{% block document-title %}Product Movement{% endblock %}
{% block page-title %}Product Movements{% endblock %}

{% block main %}
    <section class="main-section">
        <form action="{% url "product_movement" %}" method="post" id="add_product_movement_form">
            {% csrf_token %}

            {% for field in form %}
                <div class="did-floating-label-content">
                    {{ field }}
                    <label class="did-floating-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                </div>
            {% endfor %}

            <button type="button" class="button" onclick="function validate_locations() {
                let from_location = document.getElementById('form_location');
                let to_location = document.getElementById('to_location');

                if(from_location.value==='' && to_location.value==='')
                    window.alert('You must select one of from location or to location');
                else if(from_location.value===to_location.value)
                    window.alert('From location and to location must be different');
                else
                    document.getElementById('add_product_movement_form').submit();
            }
            validate_locations()">Add
            </button>
        </form>

    </section>

    {% for message in messages %}
        <p class="error-p">
            <strong>{{ message }}</strong>
        </p>
    {% endfor %}


    <hr>

    <section>
        <h2 class="elements-title">Product Movements</h2>

        <table class="my-table">
            <thead>
            <tr>
                <th>Product ID</th>
                <th>From Location</th>
                <th>To Location</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for product_movement in product_movements %}
                <tr onclick="showOrRemoveForm('{{ product_movement.movement_id }}' )">
                    <td>{{ product_movement.product_id }}</td>
                    <td>{{ product_movement.from_location }}</td>
                    <td>{{ product_movement.to_location }}</td>
                    <td>
                        <form id="{{ product_movement.movement_id }}" method="post"
                              action="{% url 'edit_product_movement' product_movement.movement_id %}"
                              style="display: none">
                            {% csrf_token %}
                            <div class="did-floating-label-content">
                                <input class="did-floating-input" type="text" name="quantity"
                                       value="{{ product_movement.quantity }}">
                            </div>
                            <input class="did-floating-input" type="hidden" name="product_movement_id"
                                   value="{{ product_movement.movement_id }}" style="font-size: 14px">

                            <input type="submit" class="button" value="Save">
                        </form>

                        <p id="{{ product_movement.movement_id }}-label"
                               style="display: block">{{ product_movement.quantity }}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </section>

{% endblock %}